<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Projekat</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_record' %}">Dodaj zapis</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Izloguj se</a>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Registruj se</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Uloguj se</a>
            </li>

            {% endif %}

        </ul>
      </div>
    </div>
  </nav>